@model Top2000GOED.Models.Song

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center><h2>Verwijderen</h2></center>

<br />

<h3>Weet je zeker dat je dit wil verwijderen?</h3>

<hr />

<div>
    <h4>Liedjes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artiest.naam)
        </dd>

        <dt>
			Titel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titel)
        </dd>

        <dt>
            Jaar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jaar)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-default" /> |
            @Html.ActionLink("Terug", "Index")
        </div>
    }
</div>
