@model Top2000GOED.Models.Song

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Overzicht</h2></center>

<br /> 

<div>
	<h4>Liedjes</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			Naam
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Artiest.naam)
		</dd>

		<dt>
			Titel
		</dt>

		<dd>
			@Html.DisplayFor(model => model.titel)
		</dd>

		<dt>
			Jaar
		</dt>

		<dd>
			@Html.DisplayFor(model => model.jaar)
		</dd>

	</dl>
</div>
<br />
<p>
    <!--Als admin is ingelogd zie je edit in de details knop, anders niet-->
    @if (this.User.IsInRole("admin"))
    {
        @Html.ActionLink("Aanpassen", "Edit", new { id = Model.songid })}
	<br />
	<br />
        @Html.ActionLink("Terug", "Index")
</p>
