@* Dit is de index van songs *@
@model IPagedList<Top2000GOED.Models.Song>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;
@using Top2000GOED.Models

<center><h2>Liedjes</h2></center>

<hr />

@* Alleen als je admin bent kan je een song aanmaken *@
<div>
	@if (this.User.IsInRole("admin"))
	{
	<p>@Html.ActionLink(" ", "Create", " ", new { @class = "fa fa-plus-square fa-xs" })</p>
	}
</div>

@using (Html.BeginForm("Index", "Songs", FormMethod.Get))
{
	@Html.TextBox("Searching",(""), new { placeholder = "Zoeken" })<input style="margin-left:5px" type="submit" value="Zoeken" class="btn btn-primary btn-default" />
}

<hr />
@* Dit weergeeft hij op de pagina *@
<table class="table">
	<tr>
		<th>
			Nr.
		</th>
		<th>
			Naam
		</th>
		<th>
			Titel
		</th>
		<th>
			Jaar
		</th>
		<th></th>
	</tr>

	@* Als de database leeg is en hij niks kan weergeven laat hij dit zien*@
	@if (Model.Count() == 0)
	{
		<tr>
			<td colspan="3" style="color: red">
				Niks Gevonden!!
			</td>
		</tr>
	}

	@* Als de database wel vol zit dan laat hij de volgende dingen zien *@
	else
	{

		foreach (var item in Model)

		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Artiest.Song.Count)
					<hr>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Artiest.naam)
					<hr />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.titel)
					<hr />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.jaar)
					<hr />
				</td>
				<td>



					<!--Als admin is ingelogd kan je een liedje bewerken en verwijderen. Anders niet-->
					@if (this.User.IsInRole("admin"))
					{
					<div style="font-size: 0.5rem">
						@Html.ActionLink(" ", "Edit", new { id = item.songid }, new { @class = "fa fa-edit fa-xs" })
						@Html.ActionLink(" ", "Delete", new { id = item.songid }, new { @class = "fa fa-trash fa-xs" })
						@Html.ActionLink(" ", "Details", new { id = item.songid }, new { @class = "fa fa-book fa-xs" })
					</div>
					}
				</td>
			</tr>
		}
	}
</table>

@Html.PagedListPager(Model, i => Url.Action("Index", "Songs", new { i, search = Request.QueryString["search"] }))