
@* Dit is het overzicht scherm van Artiesten *@

@model Top2000GOED.Models.Artiest

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Overzicht</h2></center>

<hr />

@* De naam van de artiest *@
<div>
	<h4>Artiest: <b>@Html.DisplayFor(model => model.naam)</b></h4>
	<hr />
</div>

@* Laat zien wat het aantal nummers is van dat artiest van een bepaald jaar *@
<div>
	<h4> Aantal noteringen van <b>@Html.DisplayFor(model => model.naam)</b> in de Top-2000: <b>@Html.DisplayFor(model => model.Song.Count)</b></h4>

	<hr />

</div>

@* Alle Songs van een gekozen artiest*@
<h4>Meer liedjes van: <b>@Html.DisplayFor(model => model.naam)</b> van alle jaren.</h4>

@* Laat een lijst zien met alle nummers van een bepaalde artiest *@
@foreach (var item in Model.Song)
{
	<div class="col-lg-6">
		<b style="font-size:larger"> - </b>
		<button style="display:block;"
				onclick="location.href='@Url.Action("SongDetails","Artiests", new { id = item.songid })'">
			@item.titel
		</button>
	</div>
}

<p>
	<!--Als admin is ingelogd zie je edit in de details knop, anders niet-->
	@if (this.User.IsInRole("admin"))
	{
		<button>@Html.ActionLink("Aanpassen", "Edit", new { id = Model.artiestid })</button>
	}
</p>

<hr />

<button><h4>@Html.ActionLink("Terug", "Index")</h4></button>
