@model Top2000GOED.Models.Artiest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<h4>@Html.ActionLink("Back to List", "Index")</h4>
<div>
    <h4>Artiest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naam)
        </dd>

    </dl>
</div>
<div>
    <h4> Aantal liedjes in de Top-2000</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Song.Count)
        </dd>
    </dl>
</div>
<div>
    <h4> Liedjes van de artiest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Song)
        </dd>
    </dl>
</div>
<p>
    <!--Als admin is ingelogd zie je edit in de details knop, anders niet-->
    @if (this.User.IsInRole("admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.artiestid })
    }
</p>
