@model Top2000GOED.Models.Artiest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<h4>@Html.ActionLink("Back to List", "Index")</h4>
@*The name of the artist*@
<div>
    <h4>Artiest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.naam)
        </dd>
    </dl>
</div>
@* show the number of songs from this artist from the current year. *@
<div>
    <h4> Aantal liedjes in de Top-2000</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Song.Count)
        </dd>
    </dl>
</div>
@* all the songs of the chosen artist*@
<div>
    <h4> Liedjes van de artiest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        @*Shows the list of all the songs of this artist*@
        <dd>
            @foreach (var item in Model.Song)
            {
                <div>@item.titel</div>
            }
        </dd>
    </dl>
</div>
<p>
    <!--Als admin is ingelogd zie je edit in de details knop, anders niet-->
    @if (this.User.IsInRole("admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.artiestid })
    }
</p>
