@model Top2000GOED.Models.Artiest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<h4>@Html.ActionLink("Back to List", "Index")</h4>
@*The name of the artist*@
<div>
    <h4>Artiest: <b>@Html.DisplayFor(model=> model.naam)</b></h4>
    <hr />
</div>
@* show the number of songs from this artist from the current year. *@
<div>
    <h4> Aantal noteringen van <b>@Html.DisplayFor(model=> model.naam)</b> in de Top-2000:</h4>
          <h4><b>@Html.DisplayFor(model => model.Song.Count)</b></h4>
</div>
@* all the songs of the chosen artist*@
<div>
    <h4>Meer liedjes van: <b>@Html.DisplayFor(model=> model.naam)</b></h4>
        @*Shows the list of all the songs of this artist*@
            @foreach (var item in Model.Song)
             {
                <div>@item.titel</div>
             }
    </dl>
</div>
<p>
    <!--Als admin is ingelogd zie je edit in de details knop, anders niet-->
    @if (this.User.IsInRole("admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.artiestid })
    }
</p>
